body{
    background-color: rgb(188, 137, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
table{
    background-color: rgb(10, 0, 0);
    color: rgb(245, 245, 245);
    border: 2px solid rgb(188, 137, 42);
    border-radius: 20px;
    width: 70%;
    margin: auto;
}
img{
    width: 100px;
    height: 130px;
}
#linha1{
    background-color: rgb(188, 137, 42);
    color white;
    font-size: 20px;
}
#linha1 th{
    border:1px solid rgb(188, 137, 42)
}
td{
    border: 1px solid black
}
.dadosimpares{
    background-color: rgb(188, 137, 42);
}
.dadospares{
    background-color: rgb(188, 137, 42);
}
.dadosimpares{
    background-color: rgb(188, 137, 42);
    color: black;
}
.dadospares{
    background-color: rgb(188, 137, 42);
}
h2{
    font-size: 48px;
    color: rgb(68, 45, 3)
}